<div class="bio-holder">
  <div class="bio-header">
    Press and Publications
  </div>
  <div class="bio-data-holder">
    <div class="additional-credits-holder">
      <div class="additional-credit">
        British Army Review assessment of our books
        <a
          href="https://armyprod-cms1.greatstate.cloud/media/11291/bar_179_full-edition.pdf"
          class="additional-credit-link"
        >
          https://armyprod-cms1.greatstate.cloud/media/11291/bar_179_full-edition.pdf
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Interview by government matters media WJLA TV May 1 2019 about our study
        <a
          href="https://govmatters.tv/major-lessons-from-the-iraq-war/"
          class="additional-credit-link"
        >
          https://govmatters.tv/major-lessons-from-the-iraq-war
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Interviewed by government matters media WJLA TV May 14 2019 about Iran and our study
        <a
          href="https://govmatters.tv/findings-on-iran-and-how-they-view-the-us-as-a-military-opponent/"
          class="additional-credit-link"
        >
          https://govmatters.tv/findings-on-iran-and-how-they-view-the-us-as-a-military-opponent
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Quoted in article by WCHS TV on Iran escalation
        <a
          href="https://wchstv.com/news/nation-world/experts-see-good-reason-to-expect-iranian-retaliation-as-us-ratchets-up-pressure"
          class="additional-credit-link"
        >
          https://wchstv.com/news/nation-world/experts-see-good-reason-to-expect-iranian-retaliation-as-us-ratchets-up-pressure
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        CSPAN video of CSIS/New America Foundation presentation
        <a
          href="https://www.c-span.org/video/?460647-1/us-army-iraq-war"
          class="additional-credit-link"
        >
          https://www.c-span.org/video/?460647-1/us-army-iraq-war
        </a>
        <a
          href="https://www.c-span.org/video/?460647-3/us-army-iraq-war-panel-1"
          class="additional-credit-link"
        >
          https://www.c-span.org/video/?460647-3/us-army-iraq-war-panel-1
        </a>
        <a
          href="https://www.c-span.org/video/?460647-2/us-army-iraq-war-panel-2"
          class="additional-credit-link"
        >
          https://www.c-span.org/video/?460647-2/us-army-iraq-war-panel-2
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Modern War Institute Talk (1 hour)
        <a
          href="https://www.youtube.com/watch?v=q3qPBoGQW5s"
          class="additional-credit-link"
        >
          https://www.youtube.com/watch?v=q3qPBoGQW5s
        </a>
        <a
          href="https://mwi.usma.edu/mwi-video-inside-armys-study-iraq-war-retired-col-frank-sobchak/"
          class="additional-credit-link"
        >
          https://mwi.usma.edu/mwi-video-inside-armys-study-iraq-war-retired-col-frank-sobchak/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        New America Foundation/CSIS panel May 13
        <a
          href="https://www.csis.org/events/us-army-history-iraq-war"
          class="additional-credit-link"
        >
          https://www.csis.org/events/us-army-history-iraq-war
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Small Wars Journal
        <a
          href="https://smallwarsjournal.com/blog/armys-long-awaited-iraq-war-study-finds-iran-was-only-winner-conflict-holds-many-lessons"
          class="additional-credit-link"
        >
          https://smallwarsjournal.com/blog/armys-long-awaited-iraq-war-study-finds-iran-was-only-winner-conflict-holds-many-lessons
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        World Politics Review
        <a
          href="https://www.worldpoliticsreview.com/articles/27437/the-army-s-iraq-war-study-shows-truth-telling-is-still-possible-in-washington"
          class="additional-credit-link"
        >
          https://www.worldpoliticsreview.com/articles/27437/the-army-s-iraq-war-study-shows-truth-telling-is-still-possible-in-washington
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Tufts Now
        <a
          href="https://now.tufts.edu/articles/how-iran-won-our-iraq-war"
          class="additional-credit-link"
        >
          https://now.tufts.edu/articles/how-iran-won-our-iraq-war
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        MWI podcast
        <a
          href="https://mwi.usma.edu/mwi-podcast-armys-iraq-war-self-reflection/"
          class="additional-credit-link"
        >
          https://mwi.usma.edu/mwi-podcast-armys-iraq-war-self-reflection/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Middle East Eye
        <a
          href="https://middleeasteye.net/opinion/us-military-has-written-book-iraq-war-its-too-late"
          class="additional-credit-link"
        >
          https://middleeasteye.net/opinion/us-military-has-written-book-iraq-war-its-too-late
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Newsweek
        <a
          href="https://www.newsweek.com/army-not-win-iraq-iran-victor-1301050"
          class="additional-credit-link"
        >
          https://www.newsweek.com/army-not-win-iraq-iran-victor-1301050
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        KPCC (NPR Los Angeles)
        <a
          href="https://www.scpr.org/programs/airtalk/2019/01/25/64117/new-study-shares-a-deep-dive-into-u-s-army-s-criti/"
          class="additional-credit-link"
        >
          https://www.scpr.org/programs/airtalk/2019/01/25/64117/new-study-shares-a-deep-dive-into-u-s-army-s-criti/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Quartz
        <a
          href="https://qz.com/1530248/us-army-says-iran-won-the-iraq-war/"
          class="additional-credit-link"
        >
          https://qz.com/1530248/us-army-says-iran-won-the-iraq-war/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Global Security
        <a
          href="https://www.globalsecurity.org/wmd/library/news/iraq/2019/iraq-190120-presstv01.htm"
          class="additional-credit-link"
        >
          https://www.globalsecurity.org/wmd/library/news/iraq/2019/iraq-190120-presstv01.htm
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Breitbart
        <a
          href="https://www.breitbart.com/national-security/2019/01/19/army-iraq-war-study-emboldened-expansionist-iran-appears-only-victor/"
          class="additional-credit-link"
        >
          https://www.breitbart.com/national-security/2019/01/19/army-iraq-war-study-emboldened-expansionist-iran-appears-only-victor/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        NPR
        <a
          href="https://www.npr.org/2019/01/22/687527749/u-s-army-war-college-says-iran-was-the-only-winner-in-study-of-iraq-war"
          class="additional-credit-link"
        >
          https://www.npr.org/2019/01/22/687527749/u-s-army-war-college-says-iran-was-the-only-winner-in-study-of-iraq-war
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Fletcher Book Talk
        <a
          href="https://www.facebook.com/fletcherschool/videos/2062231510479567/"
          class="additional-credit-link"
        >
          https://www.facebook.com/fletcherschool/videos/2062231510479567/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Task and Purpose
        <a
          href="https://taskandpurpose.com/army-history-iraq-invasion-hubris"
          class="additional-credit-link"
        >
          https://taskandpurpose.com/army-history-iraq-invasion-hubris
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        CNN Article
        <a
          href="https://www.cnn.com/2019/01/17/opinions/expensive-lesson-in-hubris-for-the-united-states-bergen/index.html"
          class="additional-credit-link"
        >
          https://www.cnn.com/2019/01/17/opinions/expensive-lesson-in-hubris-for-the-united-states-bergen/index.html
        </a>
      </div>
    </div>

    <div class="additional-credits-holder">
      <div class="additional-credit">
        Arab Weekly
        <a
          href="https://thearabweekly.com/after-4-year-study-us-military-study-concludes-iran-was-only-victor-iraq-war"
          class="additional-credit-link"
        >
          https://thearabweekly.com/after-4-year-study-us-military-study-concludes-iran-was-only-victor-iraq-war
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Wall Street Journal Article
        <a
          href="https://www.wsj.com/articles/army-releases-a-critical-history-of-the-war-in-iraq-11547768863"
          class="additional-credit-link"
        >
          https://www.wsj.com/articles/army-releases-a-critical-history-of-the-war-in-iraq-11547768863
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Army Times Article
        <a
          href="https://www.armytimes.com/news/your-army/2019/01/18/armys-long-awaited-iraq-war-study-finds-iran-was-the-only-winner-in-a-conflict-that-holds-many-lessons-for-future-wars/"
          class="additional-credit-link"
        >
          https://www.armytimes.com/news/your-army/2019/01/18/armys-long-awaited-iraq-war-study-finds-iran-was-the-only-winner-in-a-conflict-that-holds-many-lessons-for-future-wars/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Defense One Article
        <a
          href="https://www.defenseone.com/ideas/2019/03/us-army-trying-bury-lessons-iraq-war/155403/?oref=d-skybox"
          class="additional-credit-link"
        >
          https://www.defenseone.com/ideas/2019/03/us-army-trying-bury-lessons-iraq-war/155403/?oref=d-skybox
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Fletcher Forum Podcast
        <a
          href="http://www.fletcherforum.org/home/2019/3/6/lessons-from-the-iraq-war-a-conversation-with-colonel-frank-sobchak"
          class="additional-credit-link"
        >
          http://www.fletcherforum.org/home/2019/3/6/lessons-from-the-iraq-war-a-conversation-with-colonel-frank-sobchak
        </a>
        <a
          href="https://itunes.apple.com/us/podcast/the-fletcher-forum-podcast/id1372172089?mt=2"
          class="additional-credit-link"
        >
          https://itunes.apple.com/us/podcast/the-fletcher-forum-podcast/id1372172089?mt=2
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Lima Charlie
        <a
          href="https://limacharlienews.com/foreign-policy/vietnam-to-iraq/"
          class="additional-credit-link"
        >
          https://limacharlienews.com/foreign-policy/vietnam-to-iraq/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        American conservative (negative review)
        <a
          href="https://www.theamericanconservative.com/articles/the-armys-official-iraq-war-history-truth-telling-or-mythmaking/"
          class="additional-credit-link"
        >
          https://www.theamericanconservative.com/articles/the-armys-official-iraq-war-history-truth-telling-or-mythmaking/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Aspen Institute calls it one of the Five Best Ideas of the Day
        <a
          href="https://www.aspeninstitute.org/ideas/2019/03/13/"
          class="additional-credit-link"
        >
          https://www.aspeninstitute.org/ideas/2019/03/13/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Newsrep
        <a
          href="https://thenewsrep.com/113317/army-finally-releases-official-history-of-the-iraq-war-and-the-conclusions-are-damning/"
          class="additional-credit-link"
        >
          https://thenewsrep.com/113317/army-finally-releases-official-history-of-the-iraq-war-and-the-conclusions-are-damning/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Army Times
        <a
          href="https://www.armytimes.com/news/your-military/2019/04/10/keep-those-iraq-war-notes-handy-small-wars-not-great-power-battles-still-the-most-likely-future-fight/"
          class="additional-credit-link"
        >
          https://www.armytimes.com/news/your-military/2019/04/10/keep-those-iraq-war-notes-handy-small-wars-not-great-power-battles-still-the-most-likely-future-fight/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Frank personal: article on War, Film, Politics course
        <a
          href="https://excollege.wixsite.com/express/featured-articles/one-veteran-s-take-on-the-modern-war-film"
          class="additional-credit-link"
        >
          https://excollege.wixsite.com/express/featured-articles/one-veteran-s-take-on-the-modern-war-film
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        FDD Discussion
        <a
          href="https://www.fdd.org/events/2019/04/08/lessons-learned-from-the-iraq-war/"
          class="additional-credit-link"
        >
          https://www.fdd.org/events/2019/04/08/lessons-learned-from-the-iraq-war/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Army War College, War Room/A Better Peace
        <a
          href="https://warroom.armywarcollege.edu/podcasts/how-to-tell-the-story-of-a-war-the-oif-study"
          class="additional-credit-link"
        >
          https://warroom.armywarcollege.edu/podcasts/how-to-tell-the-story-of-a-war-the-oif-study
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Mentioned by Presidential Candidate Michael Bennett in Meet the Press
        <a
          href="https://www.nbcnews.com/meet-the-press/meet-press-january-12-2020-n1113091"
          class="additional-credit-link"
        >
          https://www.nbcnews.com/meet-the-press/meet-press-january-12-2020-n1113091
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Cited in Poltifact
        <a
          href="https://www.politifact.com/truth-o-meter/article/2020/jan/15/iran-iraq-soleimani-deadly-fight-against/"
          class="additional-credit-link"
        >
          https://www.politifact.com/truth-o-meter/article/2020/jan/15/iran-iraq-soleimani-deadly-fight-against/
        </a>
        <a
          href="https://www.politifact.com/truth-o-meter/statements/2020/jan/16/donald-trump/fact-checking-trumps-claim-obama-designated-irans-/"
          class="additional-credit-link"
        >
          https://www.politifact.com/truth-o-meter/statements/2020/jan/16/donald-trump/fact-checking-trumps-claim-obama-designated-irans-/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Mentioned in Terry Gross Fresh Air
        <a
          href="https://www.npr.org/transcripts/796978484"
          class="additional-credit-link"
        >
          https://www.npr.org/transcripts/796978484
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        War College study info/Sobchak quoted in Minneapolis Star Tribune
        <a
          href="http://www.startribune.com/tensions-with-iran-add-to-strain-for-army-man-and-his-family/566818252/"
          class="additional-credit-link"
        >
          http://www.startribune.com/tensions-with-iran-add-to-strain-for-army-man-and-his-family/566818252/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Stars and Stripes Article
        <a
          href="https://www.stripes.com/news/army-history-highlights-failures-in-iraq-war-1.565009"
          class="additional-credit-link"
        >
          https://www.stripes.com/news/army-history-highlights-failures-in-iraq-war-1.565009
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Defense and Aerospace Interview
        <a
          href="https://defaeroreport.com/2019/01/24/defense-aerospace-podcast-friday-roundtable-jan-25-2019/"
          class="additional-credit-link"
        >
          https://defaeroreport.com/2019/01/24/defense-aerospace-podcast-friday-roundtable-jan-25-2019/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        UPI (op ed)
        <a
          href="https://www.upi.com/Ex-President-Obamas-timidity-hampered-foreign-policy/2081548161774/"
          class="additional-credit-link"
        >
          https://www.upi.com/Ex-President-Obamas-timidity-hampered-foreign-policy/2081548161774/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Haaretz
        <a
          href="https://www.haaretz.com/middle-east-news/.premium-trump-terror-and-tomatoes-as-u-s-eyes-iraq-buildup-iran-may-stand-to-gain-1.6873271"
          class="additional-credit-link"
        >
          https://www.haaretz.com/middle-east-news/.premium-trump-terror-and-tomatoes-as-u-s-eyes-iraq-buildup-iran-may-stand-to-gain-1.6873271
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Wall Street Journal (Original Series before they published)
        <a
          href="https://www.wsj.com/articles/the-army-ordered-an-unvarnished-iraq-war-historythen-let-it-languish-1540220153"
          class="additional-credit-link"
        >
          fhttps://www.wsj.com/articles/the-army-ordered-an-unvarnished-iraq-war-historythen-let-it-languish-1540220153
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Army Times (Original Series before they published)
        <a
          href="https://www.armytimes.com/news/your-army/2018/10/25/armys-detailed-iraq-war-study-remains-unpublished-years-after-completion/"
          class="additional-credit-link"
        >
          https://www.armytimes.com/news/your-army/2018/10/25/armys-detailed-iraq-war-study-remains-unpublished-years-after-completion/
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Stars and Stripes (Original Series before they published)
        <a
          href="https://www.stripes.com/news/lawmakers-call-for-army-s-iraq-war-study-to-be-published-1.553661"
          class="additional-credit-link"
        >
          https://www.stripes.com/news/lawmakers-call-for-army-s-iraq-war-study-to-be-published-1.553661
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Declassified Documents
        <a
          href="http://ahec.armywarcollege.edu/CENTCOM-IRAQ-papers/index.cfm"
          class="additional-credit-link"
        >
          http://ahec.armywarcollege.edu/CENTCOM-IRAQ-papers/index.cfm
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Volume I
        <a
          href="https://ssi.armywarcollege.edu/pubs/display.cfm?pubID=1373"
          class="additional-credit-link"
        >
          https://ssi.armywarcollege.edu/pubs/display.cfm?pubID=1373
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Volume II
        <a
          href="https://ssi.armywarcollege.edu/pubs/display.cfm?pubID=1376"
          class="additional-credit-link"
        >
          https://ssi.armywarcollege.edu/pubs/display.cfm?pubID=1376
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Naval War College
        <a
          href="https://digital-commons.usnwc.edu/cgi/viewcontent.cgi?article=8074&context=nwc-review"
          class="additional-credit-link"
        >
          https://digital-commons.usnwc.edu/cgi/viewcontent.cgi?article=8074&context=nwc-review
        </a>
        <a
          href="https://digital-commons.usnwc.edu/cgi/viewcontent.cgi?article=8097&context=nwc-review"
          class="additional-credit-link"
        >
          https://digital-commons.usnwc.edu/cgi/viewcontent.cgi?article=8097&context=nwc-review
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Naval War College - Small Wars and Insurgencies review
        <a
          href="https://www.tandfonline.com/doi/abs/10.1080/09592318.2019.1601873?journalCode=fswi20"
          class="additional-credit-link"
        >
          https://www.tandfonline.com/doi/abs/10.1080/09592318.2019.1601873?journalCode=fswi20
        </a>
      </div>
    </div>
    <div class="additional-credits-holder">
      <div class="additional-credit">
        Review by IISS
        <a
          href="https://www.iiss.org/publications/survival/2019/survival-global-politics-and-strategy-augustseptember-2019/614-12-book-reviews"
          class="additional-credit-link"
        >
          https://www.iiss.org/publications/survival/2019/survival-global-politics-and-strategy-augustseptember-2019/614-12-book-reviews
        </a>
      </div>
    </div>

  </div>
</div>
