<div class="document-holder">
  <div class="document-holder-inner">
    <div class="text-holder" *ngIf="document">
      <div class="text-title">
        {{document.title}}
      </div>
      <div class="text-date">
        Date: {{document.date}}
      </div>
      <div class="text-date" *ngIf="document && document.categories">
        Categories: {{document.categories.join(', ')}}
      </div>
      <div class="pdf-holder" *ngIf="document">
        <div class="pdf-holder-inner">
          <pdf-viewer
              [src]="pdfLink"
              [render-text]="true"
              style="display: block;"
          ></pdf-viewer>
          <!-- <canvas id="the-canvas"></canvas> -->
          <embed
            *ngIf="pdfLink"
            [src]="pdfLink"
            class="pdf-embed"
            type="application/pdf"
            frameBorder="0"
            scrolling="auto"
            height="100%"
            width="100%"
          >
        </div>
      </div>
    </div>
  </div>
</div>
