<div class="document-holder">
  <div class="document-holder-inner">
    <div class="text-holder" *ngIf="document">
      <div class="text-title">
        {{document.title}}
      </div>

      <div class="text-date" *ngIf="documentDate">
        Date: {{documentDate}}
      </div>
      <div class="text-date" *ngIf="document && document.categories">
        Categories: {{document.categories.join(', ')}}
      </div>
      <div class="pdf-holder" *ngIf="document">
        <a
          [href]="pdfLink"
          [download]="pdfLink"
          target="_blank"
          type="application/octet-stream"
          class="download-button"
        >
          Go to Download Page
        </a>
        <div class="pdf-holder-inner">
          <div class="" *ngIf="pdfLink">
            <pdf-viewer
              [src]="pdfLink"
              style="display: block;"
              [fit-to-page]="true"
            ></pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
