
.header {
  position: fixed;
  width: 100vw;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  @media screen and (max-width: 500px) {
    height: 70px;
  }
  .link {
    display: inline-block;
    float: right;
    height: 50px;
    line-height: 40px;
    margin-top: 20px;
    padding: 5px 40px;
    font-size: 20px;
    vertical-align: top;
    box-sizing: border-box;
    color: black;
    @media screen and (max-width: 500px) {
      width: 50%;
      padding: 0;
      float: unset;
      margin: 15px 0 0 0 !important;
      text-align: center;
    }
    &:first-of-type {
      margin-right: 50px;
    }
  }
}

.page-holder {
  position: relative;
  padding-bottom: 150px;
  max-width: 1200px;
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px 150px 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-family: sans-serif;
}

.map-image-holder {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 90px;
  max-height: 700px;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
  @media screen and (max-width: 500px) {
    margin-top: 70px;
    height: auto;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media screen and (max-width: 500px) {
      position: relative;
    }
  }
  .map-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
  }
}

.map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 100px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    padding: 50px;
  }
  @media screen and (max-width: 414px) {
    padding: 50px 25px;
  }
}

.map-title-1 {
  margin-top: 50px;
  font-size: 64px;
  @media screen and (max-width: 768px) {
    font-size: 34px;
  }
  @media screen and (max-width: 500px) {
    margin-top: 25px;
    font-size: 30px;
  }
}

.map-title-2 {
  margin-top: 15px;
  font-size: 96px;
  @media screen and (max-width: 768px) {
    font-size: 64px;
  }
  @media screen and (max-width: 500px) {
    font-size: 38px;
  }
}

.map-subtitle {
  margin-top: 25px;
  font-size: 36px;
  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
  @media screen and (max-width: 500px) {
    font-size: 22px;
  }
}

.search-holder {
  position: relative;
  width: 100%;
  padding: 25px 0;
}

.search-box {
  position: relative;
  padding: 0 25px;
  box-sizing: border-box;
  @media screen and (max-width: 769px) {
    width: 600px;
  }
  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 0 10px;
  }
  input {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 15px;
    border-radius: 4px;
    font-size: 22px;
    background-color: white;
    box-sizing: border-box;
  }
  input::placeholder {
    color: #c6c6c6;
    font-style: italic;
  }
  .search-button {
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    background-color: #d3d3d3;
    cursor: default;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}

.results-holder {
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 4px;
  box-sizing: border-box;
  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 0 5px;
  }
}

.tags-holder {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  background-color: white;
  box-sizing: border-box;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.no-results-present {
  color: #d3d3d3;
  font-size: 36px;
  height: 250px;
  width: 500px;
  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;
  font-style: italic;
  @media screen and (max-width: 769px) {
    width: 300px;
    // margin: 0 auto;
  }
  @media screen and (max-width: 500px) {
    width: 300px;
    margin: 0 auto;
  }
}

.single-result {
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
  padding: 35px 15px 20px 15px;
  background-color: white;
  box-sizing: border-box;
  overflow-wrap: break-word;
  cursor: default;
  transition: background-color .2s ease-in-out;
  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 0 auto;
  }
  &:hover {
    background-color: #e0f2fb;
  }
  &:first-of-type {
    margin-top: 0;
  }
  .doc-title {
    font-size: 28px;
    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }
}

.single-tag-holder {
  position: relative;
  padding: 15px 10px;
  text-align: right;
  &-title {
    position: absolute;
    right: 32px;
    width: calc(100% - 32px);
    font-size: 16px;
    box-sizing: border-box;
  }
}

.categories-holder {
  position: relative;
  font-size: 14px;
  margin-top: 20px;
}

.categories-title {
  display: inline-block;
  vertical-align: top;
}

.single-category {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-size: 14px;
  &-first-of-type {
    margin-left: 0;
  }
}

.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  z-index: 999;

  input {
    position: absolute;
    width: 350px;
    height: 60px;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 4px;
    margin: 180px auto 0 auto;
    left: 0;
    right: 0;
    background-color: white;
  }

  .password-button {
    position: absolute;
    width: 100px;
    height: 40px;
    margin: 260px auto 0 auto;
    left: -280px;
    right: 0;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    cursor: default;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}

.loading-balls {
  width: 120px;
  height: 30px;
  margin: 50px auto 0 auto;
}

.ball {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #d3d3d3;
  &:nth-of-type(0n + 1) {
    margin-left: 5px;
    animation: bounce 1s ease-in-out infinite;
  }
  &:nth-of-type(0n + 2) {
    margin-left: 5px;
    animation: bounce 1s .15s ease-in-out infinite;
  }
  &:nth-of-type(0n + 3) {
    margin-left: 5px;
    animation: bounce 1s .3s ease-in-out infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-0px);
  }
  50% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-0px);
  }
  100% {
    transform: translateY(-0px);
  }
}
